/* Small devices (phones, less than 768px) */
@media (min-width: 320px) and (max-width: 767.98px) {
    /* General */
    
    * {
        margin: 0;
    }

    body {
        max-width: 767.98px;
        min-width: 320px;
        margin: 0;
    }
    .main-container {
        padding: 0;
        margin: 0;
    }

    html {
        font-size: clamp(8px, 3vw, 10px);
    }

    h2 {

        font-size: 2.4rem;
        line-height: 2.8rem;
    }

    .card h3 {
        font-size: 2.2rem;
    } 
    a {
        font-size: 2.2rem;
    }

    p {
        font-size: 2rem;
        font-weight: 500;
    }

    .top-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 2rem;
        width: 100%;
    }
    nav {
        width: 100%;
    }
    .navigator {
        margin-top: 20px;
        width: 100%;
        padding: 0;
    }
    .nav-bar {
        padding: 0;
        width: 100%;
    }
    .navigator ul {
        justify-content: space-between;
        width: 100%;
    }

    .nav-bar li {
        padding-bottom: 20px;
        border-bottom: 2px transparent;
        width: 50%;
        padding-bottom: 20px;
        justify-content: center;
    }
    .nav-bar li:hover {
        border-top: transparent;
        border-bottom: 2px solid; 
        color: var(--main-color);
      }
      .nav-bar .nav-list {
        width: 50%;
      }

    .headline {
        justify-content: center;
        margin: 0 1rem 4rem 1rem;
        width: 90%;
    }
    .headline h2 {
        margin: 2rem;
    }
    .headline p {
        margin-left: 2rem;
    }
    /* Filters */
    .filters-container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .filters-container .filter {
        margin-top: 20px;
        margin-left: 0;
    }
    .filters-container h2 {
     padding-left:10px; 
     padding-top: 20px;
    }
 
    .filters-box {
     width: 100%;
     flex-wrap: wrap;
     justify-content: space-evenly;
    }

    /* Search */
    .purpose-search{
        width: 100%;
        justify-items: center;
    }
    .search-city input {
        width: 100%;
        height: 6rem;
        font-size: 2.4rem;
        padding: 0 8rem 1rem 6rem;

    }
    #search {
        width: 100%;
    }

    .search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-bar {
        margin: 0 2rem;
        height: 7rem;
        width: 100%;
        justify-content: center;
    }

    .search-icon {
        width: 4rem;
        display: inline-block;
        border-radius: 1.5rem;
    }
    .search button {
        width: fit-content;
        justify-content: center;
        padding: 0;
        border-radius: 1.5rem;
        height: 7rem;
        border: 1px solid #0065FC;
    }
    .search-icon i {
       font-size: 3rem;
       border-radius: 1.5rem;
       justify-content: center;
       background-color: #0065FC;
       border: 1px solid #0065FC;
       color: #ffffff;
    }
    .location-button i {
        font-size: 3rem;
        border: 1px solid #f2f2f2;
        border-radius: 1.5rem 0 0 1.5rem;
        justify-content: center;
        padding: 2rem;
    }
    .location-button {
        justify-content: center;
    }

    .button-search {
        display: none;
      }
    .filter {
        margin: 10px 10px;
        width: 35%;
        justify-content: center;
        height: 4rem;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .filter i {
        font-size: 2rem;
    }
    .filter h3 {
        font-size: 2rem;
    }
    .filters-box {
        width: 100%;
        justify-content: space-evenly;
       }
    .filtres-bar {
      margin-left: 20px;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .hebergements-and-populaires section {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    #hebergements {
        width: 100%;
       margin-top: 50px;
       background-color: white;
    }
  
    .populaires {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
  
    .hebergements-cards .card {
        width: 100%;
        justify-content: center;
    }
    .hebergements-cards img {
        width: 100%;
        justify-content: center;
    }
    .hebergements-cards {
        width: 100%;
        flex-direction: column;
    }
    .hebergements-cards a {
        width: 100%;
    }
    .hebergements-footer {
        margin-top: 20px;
        font-size: 2rem;
    }
    .populaires-title {
        width: 100%;
        justify-content: space-between;
    }
    .populaires-title i {
        font-size: 2.6rem;
    }
    .populaires-cards .card{
        width: 100%;
        justify-content: center;
    }
   
    #activites {
        width: 92%; 
        margin-left: 30px;   
    }
    .activites-cards {
        flex-direction: column;
        width: 100%;
    }
    .activites-cards a {
        width: 100%;
    }
    
    .activites-cards .card {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }
    .activites-cards img {
        width: 100%;
        height: 200px;
    }
    .activites-cards .card-title {
        font-size: 2.2rem;
    }

    .footer {
        padding: 3rem 0 0 0;
        width: 100%;
    }
    .footer-nav {
        flex-direction: column;
        padding: 1rem;
        row-gap: 5rem;
        width: 95%;
    }
    .footer-items {
        width: 95%;
        margin-top: 10px;

    }
    .footer-nav h3,
    li {
        padding: 0.5rem 2rem 1rem 1rem;
    }
    .footer-nav li {
        font-size: 1.8rem;
    }
   .footer-nav h3 {
    font-size: 2.2rem;
   }

  }