/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
}

.fa-solid {
  color: var(--main-color);
}

header{
  margin-bottom: 20px;
 
}
body {
  display: flex;
  justify-content: center;
  font-family: "Raleway", "sans serif";
  font-weight: 700;
  margin: 0 auto;
  font-weight: normal;

}


.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/*top container header*/
#logo {
  width: 95px;
  height: 30px;
}
.nav-bar {
  display:flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
}

.nav-bar li {
  margin:  0 10px 20px;
  padding-top: 20px;
  display:flex;
  border-top: 2px solid transparent;
}
.nav-bar li:hover {
  border-top: 2px solid; 
  color: var(--main-color);
}


.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
.headline {
  line-height: 0.8;
  margin-bottom: 40px;
}
.headline-footer {
  display: flex;
  align-items: center;
}



/*main search*/

.search-icon {
  display: none;
}

.fa-magnifying-glass {
  color: #ffffff;
}
.search button {
  background-color: #0065FC;
  color: white;
  border-radius: 0 1.5rem 1.5rem 0;
  outline: none;
  padding: 1.2rem;
  font-weight: 700;
  font-size: 1.4em;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  flex-shrink: 0;
}
.search i {
  background-color: #F2F2F2;
  border-radius: 1.5rem 0 0 1.5rem ;
  justify-content: center;
  outline: none;
  padding: 1.3rem;
  color: black;
  font-size: 1.4em;
  font-weight: 700;
  border: 1px solid #f2f2f2;
}
 .search-bar {
  display: flex;
 }
 .search-city input {
    width: 15rem;
    border: 1px solid #f2f2f2;
    font-weight: 700;
    font-size: 1.4em;
    padding: 1.2rem;
    outline: none;
}

.search-city input::placeholder {
    color: black;

}


  /*main filters*/

  .filters-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
 }

 .filters-container h2 {
  margin: 30px 10px 0 0;
 }
 .filter {
    display: flex;
    height: 3rem;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 4rem;
    padding: 0 1.5rem;
    cursor: pointer;
    margin: 30px 10px 0;
}
.filters-box {
  display: flex;
  justify-content: space-between;
  margin-top: 0;

}
.filter:hover {
    background-color: #deebff;
    transition: var(--transi200);
}
.filter i {
  margin-right: 1rem;
}
.filtres-bar p {
  margin: 40px 0;
}
.filter-footer i {
  margin-right: 20px;
}

/* Cards*/
.section-title {
  margin: 0;
  font-size: 22px;
}


.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.01));
  transition: all var(--transi200) ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card:hover {
  transform: scale(1.05);
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/

#hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hebergements-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.hebergements-cards .card {
  display: flex;
  margin-top: 33px;
  flex-direction: column;

}
 .hebergements-cards a {
  width: 30%;
 }

.hebergements-cards img {
  width : 100%;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  height: fit-content;
  padding-left: 10px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 5px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
  width: 32%;
}
.populaires-cards {
  display: flex;
  flex-direction: column;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/*activites*/
.activites-cards {
  display: flex;
  justify-content: space-between;
}

.activites {
  margin: 50px 10px 10px;

}

.activites-cards img {
  width: 100%;
  height:  320px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.activites-cards .card-content {
  height: 40px;
}
.activites-cards .card-title {
  margin-left: 10px;
  margin-top: 20px; 
}
.activites-cards a {
  width: 23%;
}
.activites-cards .card {
  padding: 0;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/*footer*/
.footer-items ul {
  list-style: none;
  padding: 0;
}

.footer-items {
  width: 33%;
  justify-content: start;
}

.footer-items h3 {
  padding-left: 1.5rem;
}
.footer-items ul li {
  padding: 1rem 1rem 0 1.5rem;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
   margin-top: 60px;
}

