/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
}

.fa-solid {
  color: var(--main-color);
}

header{
  margin-bottom: 35px;
  margin-top: 15px;
}
body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hebergements-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.hebergements-cards .card {
  display: flex;
  margin-top: 33px;
  flex-direction: column;

}

.hebergements-cards img {
  width: 200px;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  height: fit-content;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/*activites*/
.activites-cards {
  display: flex;
  justify-content: space-between;
}
.activites {
  margin: 20px;
}

.activites-cards img {
  width: 240px;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


/*top container header*/
#logo {
  width: 95px;
  height: 30px;
  margin: 10px;
}
nav a{
  padding:  0 30px 0;
  width: auto;
}
.nav-bar{
  width: auto;
}
.nav-bar {
  display:flex;
  list-style: none;
  justify-content: space-between;
}
.nav-bar li {
    margin: 0 10px 20px;
}

.nav-bar :hover{
  text-decoration: overline 2px 
  solid var(--main-color);
  color: var(--main-color);
}
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}


/*main search*/
#location-button {
  justify-content: center;
  padding: 4px;
  background-color: #F2F2F2;
}
.search button {
  background-color: #0065FC;
  color: white;
  padding: 0;
}
.search i {
  color: black;
}
.search {
  display: flex;
  align-items: center;
  margin: 30px 0;
  }

  /*main filters*/
  .filters-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

 .filter {
    display: flex;
    height: 3rem;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 4rem;
    padding: 0 1.5rem;
    cursor: pointer;
}

.filter:hover {
    background-color: #deebff;
    transition: var(--transi200);
}
.filter i {
  margin-right: 1rem;
}
.filtres-bar p {
  margin: 40px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 40px 40px 0;
  background-color: #d9d9d9;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
      flex-direction: column;
  }

  .hebergements {
      width: 100%;
  }

  .populaires {
      width: 100%;
      margin-top: 50px;
  }

  .populaires-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .populaires-cards a {
      width: 30%;
  }

  .populaires-cards .card-title {
      font-size: 14px;
  }

  .populaires-cards .card-subtitle {
      font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
