/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    * {
       margin: 0;
       font-family: "Raleway", "sans serif";
   }

    body {
       max-width: 1024px;
       font-family: "Raleway", "sans serif";
    }
    .card-title {
        font-size: 14px;
    }
    .card-subtitle {
        font-size: 13px;
    }
    /* NAV */ 
     .propose-search .headline h2 {
        padding: 10px 0;
     }
     .propose-search .headline p {
        padding: 10px 0;
     }
   /* search */ 
 
    /* Filters */
    .filters-container {
       flex-direction: column;
       align-items: flex-start;
       width: 100%;
   }
   .filters-container .filter {
       margin-top: 20px;
       margin-left: 0;
   }
   .filters-container h2 {
    padding-left:10px; 
    padding-top: 20px;
   }

   .filters-box {
    width: 100%;
   }
    /* main section */
   .hebergements-and-populaires {
       flex-direction: column;
       width: 100%;
   }
 
   #hebergements {
      width: 100%;
   }
   .hebergements-footer {
    margin-top: 15px;
   }
   .hebergements-cards img {
    width : 100%;
   }
   .hebergements-cards a {
    width: 30%;
   }

   .populaires {
       width: 100%;
       margin-top: 50px;
   }
 
   .populaires-cards {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }
 
   .populaires-cards a {
       width: 30%;
   }
    
   .activites-title {
    margin: 20px;
   }
   .activites-cards .card {
    width: 11.5rem;

   }
   .activites-cards img {
     width: 11.5rem;
     height: 250px;
   } 
   .activites-cards .card-title {
      font-size: 15px;
      margin: 20px 10px;
      padding: 0;
      justify-content: center;
   }

   .activites{
        margin: 0;
   }
   .footer-nav {
       padding-top: 10px;
       margin-bottom: 10px;
    }

}



 
 
