/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 767.98px)and (max-width: 1024px) {
    * {
       margin: 0;
       font-family: "Raleway", "sans serif";
   }

    body {
       max-width: 1024px;
       font-family: "Raleway", "sans serif";
    }
    /* NAV */ 
     .propose-search .headline h2 {
        padding: 10px 0;
     }
     .propose-search .headline p {
        padding: 10px 0;
     }
   /* search */ 
 
    /* Filters */
    .filters-container {
       flex-direction: column;
       align-items: flex-start;
       width: 100%;
   }
   .filters-container .filter {
       margin-top: 20px;
       margin-left: 0;
   }
   .filters-container h2 {
    padding-left:10px; 
    padding-top: 20px;
   }
   .filters-box {
    width: 100%;
   }
    /* main section */
   .hebergements-and-populaires {
       flex-direction: column;
   }
 
   .hebergements {
       width: 100%;
   }
 
   .populaires {
       width: 100%;
       margin-top: 50px;
   }
 
   .populaires-cards {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }
 
   .populaires-cards a {
       width: 30%;
   }
 
   .populaires-cards .card-title {
       font-size: 14px;
   }
 
   .populaires-cards .card-subtitle {
       font-size: 13px;
   }
   .activites-title {
    margin: 20px 0;
   }
   .activites-card {
    margin: 1rem;
    width: 11rem;
   }
   .activites-cards img {
     width: 11rem;
     height: 260px;
     object-fit: cover;
     padding-right: 0;
   } 
   .activites-cards .card-title {
      width: 11rem;
      font-size: 15px;
      margin-top: 10px;
   }
   .activites{
        margin: 0;
   }
   .footer-nav {
       padding-top: 10px;
    }

}



 
 
=======
     * {
        margin: 0;
        font-family: "Raleway", "sans serif";
    }

     body {
        max-width: 1024px;
        font-family: "Raleway", "sans serif";
     }
     /* NAV */ 

    /* search */ 
  
     /* Filters */
     .filters-container {
        flex-direction: column;
        justify-content: space-between;
    }
    .filters-container .filter {
        margin-top: 20px;
        margin-left: 0;
    }

     /* main section */
    .hebergements-and-populaires {
        flex-direction: column;
    }
  
    .hebergements {
        width: 100%;
    }
  
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
  
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  
    .populaires-cards a {
        width: 30%;
    }
  
    .populaires-cards .card-title {
        font-size: 14px;
    }
  
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites-cards img {
        width: 200px;
        height:  260px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
      }
}
 
  
  

